*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Lato", arial;, sans-serif;
}

section{
	width: 100%;
	height: 500vh;
	color: #fff;
	background: linear-gradient(-45deg, aqua, cyan, blueviolet, coral);
	background-size: 400% 400%;
	position: relative;
	animation: change 3s ease-in-out infinite;
}

h1{
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 2PX;
	border: 3px solid #fff;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
}

img{
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 2PX;
	border: 3px solid #fff;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
}

h2{
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2PX;
	border: 3px solid #fff;
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
}

p{
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2PX;
	border: 3px solid #fff;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
}
}

@keyframes change {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	800%{
		background-position: 0 50%;
	}
}